// #######################################
//      FONTS
// #######################################

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// #######################################
//      VARIABLES
// #######################################

$background: rgb(245, 245, 245);
$text: rgb(30, 30, 30);
$backgroundDark: rgb(30, 30, 30);
$textDark: rgb(245, 245, 245);

$fontSize: 18px;
$lineHeight: 22px;

$tabletWidth: 1100px;
$mobileWidth: 768px;

$toolbarHeight: 4rem;
$sidebarHeight: 18rem;
$commitRowHeight: 2rem;
$graphPadding: 4rem;

// #######################################
//      MIXINS
// #######################################

@mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

@mixin transition-delay($delay) {
    -webkit-transition-delay: $delay;
    -moz-transition-delay: $delay;
    -ms-transition-delay: $delay;
    -o-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin calc($property, $expression) {
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -ms-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    -ms-box-shadow: $value;
    -o-box-shadow: $value;
    box-shadow: $value;
}

@mixin filter($value) {
    -webkit-filter: $value;
    -moz-filter: $value;
    -ms-filter: $value;
    -o-filter: $value;
    filter: $value;
}

@mixin animation($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -ms-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
    -moz-animation-delay: $delay;
    -ms-animation-delay: $delay;
    -o-animation-delay: $delay;
    animation-delay: $delay;
}

@mixin touch-action($value) {
    -webkit-touch-action: $value;
    -moz-touch-action: $value;
    -ms-touch-action: $value;
    -o-touch-action: $value;
    touch-action: $value;
}

@mixin inputPlaceholder() {
    $selector: "";
    $prefixes: (
        moz: "::-moz",
        webkit: "::-webkit",
        ie: ":-ms",
    );
    @each $prop, $value in $prefixes {
        @if $prop != "moz" {
            $selector: #{$value}-input-placeholder;
        } @else {
            $selector: #{$value}-placeholder;
        }
        @if & {
            &#{$selector} {
                @content;
            }
        } @else {
            #{$selector} {
                @content;
            }
        }
    }
    &::placeholder {
        @content;
    }
}

// #######################################
//      MAIN ELEMENTS
// #######################################

* {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overscroll-behavior: none;
}

html {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: $fontSize;
    @include touch-action(none);
}

body {
    user-select: none;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    // background-color: $background;
    // color: $text;
    background-color: $backgroundDark;
    color: $textDark;

    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include touch-action(none);

    // &.dark {
    //     background-color: $backgroundDark;
    //     color: $textDark;
    // }
}

img,
video {
    display: block;
}

#root {
    height: 100%;
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

// #######################################
//      APP
// #######################################

.app {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .container {
        display: flex;
        height: calc(100% - #{$toolbarHeight});
        width: 100%;
    }
}

// ##############################################################################
// ##############################################################################
//      COMPONENTS
// ##############################################################################
// ##############################################################################

// #######################################
//      TOOLBAR
// #######################################

.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $toolbarHeight;
    width: 100%;

    .button {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: $toolbarHeight * 0.8;
        width: $toolbarHeight * 0.8;
        margin: $toolbarHeight * 0.1;
        border-radius: 0.3rem;

        &:hover {
            background-color: rgba(255, 255, 255, 0.03);
            cursor: pointer;
        }

        &:active {
            background-color: rgba(255, 255, 255, 0.07);
        }

        .icon {
            pointer-events: none;
            height: $toolbarHeight * 0.5;
            max-height: $toolbarHeight * 0.5;
            min-height: $toolbarHeight * 0.5;
            width: $toolbarHeight * 0.5;
            max-width: $toolbarHeight * 0.5;
            min-width: $toolbarHeight * 0.5;
            opacity: 0.9;
            padding: $toolbarHeight * 0.1;
        }

        .action {
            pointer-events: none;
            opacity: 0.5;
            padding-bottom: $toolbarHeight * 0.1;
            font-size: 0.6rem;
            font-weight: 500;
            letter-spacing: 1px;
        }
    }
}

// #######################################
//      GRAPH
// #######################################

.graph {
    position: relative;
    display: flex;
    flex-grow: 1;
    width: calc(100% - #{$sidebarHeight});
    overflow: auto;
    padding: $graphPadding;
    padding-right: 0;
    margin-right: $graphPadding;

    .commits {
        position: absolute;
        width: calc(100% - #{$graphPadding * 1.1});

        .commit {
            height: $commitRowHeight;
            width: 100%;
            cursor: pointer;
            border-radius: 0.3rem;

            &:hover {
                background-color: rgba(255, 255, 255, 0.03);
            }

            &.selected {
                background-color: rgba(255, 255, 255, 0.07);
            }
        }
    }

    .gradient {
        position: fixed;
        height: $graphPadding;
        right: $sidebarHeight + $graphPadding;
        left: $graphPadding;
        z-index: 100;
        background: transparent;

        &.top {
            top: $toolbarHeight;
            background: linear-gradient(180deg, rgba(30, 30, 30, 1) 80%, rgba(30, 30, 30, 0) 100%);
        }

        &.bottom {
            bottom: 0;
            background: linear-gradient(0deg, rgba(30, 30, 30, 1) 80%, rgba(30, 30, 30, 0) 100%);
        }
    }
}

// #######################################
//      TREE
// #######################################

.tree {
    pointer-events: none;
    position: relative;
    height: fit-content;
    z-index: 10;
    overflow: visible;

    .node {
        position: relative;
        height: $commitRowHeight;
        width: $commitRowHeight;
        padding: $commitRowHeight * 0.2;

        .circle {
            height: 100%;
            width: 100%;
            background-color: rgb(50, 156, 255);
            border-radius: 100vw;
        }
    }

    .edge {
        position: absolute;
        background-color: transparent;

        &.left {
            border-left: solid 3px rgba(0, 0, 0, 0.3);
        }

        &.topRight {
            border-right: solid 3px rgba(0, 0, 0, 0.3);
            border-top: solid 3px rgba(0, 0, 0, 0.3);
            border-top-right-radius: 1rem;
        }

        &.topLeft {
            border-left: solid 3px rgba(0, 0, 0, 0.3);
            border-top: solid 3px rgba(0, 0, 0, 0.3);
            border-top-left-radius: 1rem;
        }

        &.bottomRight {
            border-bottom: solid 3px rgba(0, 0, 0, 0.3);
            border-bottom-right-radius: 1rem;
            border-right: solid 3px rgba(0, 0, 0, 0.3);
        }

        &.bottomLeft {
            border-bottom: solid 3px rgba(0, 0, 0, 0.3);
            border-bottom-left-radius: 1rem;
            border-left: solid 3px rgba(0, 0, 0, 0.3);
        }
    }
}

// #######################################
//      MESSAGES
// #######################################

.messages {
    pointer-events: none;
    flex-grow: 1;
    height: fit-content;
    z-index: 10;

    .commit {
        position: relative;
        display: flex;
        height: $commitRowHeight;
        max-height: $commitRowHeight;
        min-height: $commitRowHeight;
        width: 100%;
        padding: ($commitRowHeight * 0.1) ($commitRowHeight * 0.4);

        // .current {
        //     position: absolute;
        //     height: calc(100% - #{$commitRowHeight * 0.2});
        //     width: calc(100% - #{$commitRowHeight * 0.8});
        //     z-index: -1;
        //     opacity: 0.2;
        //     border-radius: 0.3rem;
        // }

        .branch {
            position: relative;
            display: flex;
            align-items: center;
            align-items: center;
            justify-content: center;
            min-width: fit-content;
            color: $backgroundDark;
            margin: 0.2rem 0;
            margin-left: 0.2rem;
            border-radius: 0.3rem;
            padding: 0 0.5rem;
            font-size: 0.7rem;
            font-weight: 700;

            .icon {
                height: 1.2rem;
                max-height: 1.2rem;
                min-height: 1.2rem;
                width: 1.2rem;
                max-width: 1.2rem;
                min-width: 1.2rem;
                color: $backgroundDark;
                padding: 0.25rem 0.25rem 0.25rem 0;
            }
        }

        .message {
            height: $commitRowHeight * 0.8;
            width: 100%;
            overflow: hidden;
            margin-left: 0.3rem;
            font-size: 0.7rem;
            font-weight: 600;
            text-overflow: ellipsis;
            line-height: $commitRowHeight * 0.8;
            white-space: nowrap;
        }
    }
}

// #######################################
//      SIDEBAR
// #######################################

.sidebar {
    position: relative;
    height: 100%;
    min-width: $sidebarHeight;
    z-index: 10;
    background-color: rgba(198, 255, 196, 0.1);
}

// #######################################
//      COMMIT
// #######################################

.commitInfo {
    height: 100%;
    width: 100%;
    background-color: rgba(196, 236, 255, 0.1);
}

// #######################################
//      UNCOMMIT
// #######################################

.uncommitInfo {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 213, 196, 0.1);
}

// #######################################
//      SCROLLBAR
// #######################################

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-button {
    background-color: red;
    display: none;
}

::-webkit-scrollbar-track {
    margin: $graphPadding 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
    }

    &:active {
        background-color: rgba(255, 255, 255, 0.2);
    }
}
