// #######################################
//      FONTS
// #######################################

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// #######################################
//      VARIABLES
// #######################################

$background: #f5f5f5;
$text: #0c0c0c;
$backgroundDark: #0c0c0c;
$textDark: #f5f5f5;

$fontSize: 18px;
$lineHeight: 22px;

$tabletWidth: 1100px;
$mobileWidth: 768px;

$toolbarHeight: 3rem;
$commitRowHeight: 2rem;
$graphPadding: 4rem;

// #######################################
//      MIXINS
// #######################################

@mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

@mixin transition-delay($delay) {
    -webkit-transition-delay: $delay;
    -moz-transition-delay: $delay;
    -ms-transition-delay: $delay;
    -o-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin calc($property, $expression) {
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -ms-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    -ms-box-shadow: $value;
    -o-box-shadow: $value;
    box-shadow: $value;
}

@mixin filter($value) {
    -webkit-filter: $value;
    -moz-filter: $value;
    -ms-filter: $value;
    -o-filter: $value;
    filter: $value;
}

@mixin animation($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -ms-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
    -moz-animation-delay: $delay;
    -ms-animation-delay: $delay;
    -o-animation-delay: $delay;
    animation-delay: $delay;
}

@mixin touch-action($value) {
    -webkit-touch-action: $value;
    -moz-touch-action: $value;
    -ms-touch-action: $value;
    -o-touch-action: $value;
    touch-action: $value;
}

@mixin inputPlaceholder() {
    $selector: "";
    $prefixes: (
        moz: "::-moz",
        webkit: "::-webkit",
        ie: ":-ms",
    );
    @each $prop, $value in $prefixes {
        @if $prop != "moz" {
            $selector: #{$value}-input-placeholder;
        } @else {
            $selector: #{$value}-placeholder;
        }
        @if & {
            &#{$selector} {
                @content;
            }
        } @else {
            #{$selector} {
                @content;
            }
        }
    }
    &::placeholder {
        @content;
    }
}

// #######################################
//      MAIN ELEMENTS
// #######################################

* {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overscroll-behavior: none;
}

html {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: $fontSize;
    @include touch-action(none);
}

body {
    user-select: none;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: $background;
    color: $text;

    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include touch-action(none);

    &.dark {
        background-color: $backgroundDark;
        color: $textDark;
    }
}

img,
video {
    display: block;
}

#root {
    height: 100%;
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

// #######################################
//      APP
// #######################################

.app {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .container {
        height: calc(100% - #{$toolbarHeight});
        width: 100%;
        display: flex;
    }
}

// ##############################################################################
// ##############################################################################
//      COMPONENTS
// ##############################################################################
// ##############################################################################

// #######################################
//      TOOLBAR
// #######################################

.toolbar {
    height: $toolbarHeight;
    width: 100%;
    background-color: rgb(255, 196, 196);
}

// #######################################
//      GRAPH
// #######################################

.graph {
    width: calc(100% - 15rem);
    position: relative;
    flex-grow: 1;
    display: flex;
    overflow: auto;
    padding: $graphPadding;

    .commits {
        position: absolute;
        width: calc(100% - #{$graphPadding * 2});

        .commit {
            height: $commitRowHeight;
            width: 100%;
            border-radius: 0.3rem;
            cursor: pointer;

            &:hover {
                background-color: rgba(0, 0, 0, 0.03);
            }

            &.selected {
                background-color: rgba(0, 0, 0, 0.08);
            }
        }
    }

    .gradient {
        background: transparent;
        position: fixed;
        left: $graphPadding;
        right: 15rem + $graphPadding;
        height: $graphPadding;
        z-index: 100;

        &.top {
            top: $toolbarHeight;
            background: linear-gradient(180deg, rgba(245, 245, 245, 1) 80%, rgba(245, 245, 245, 0) 100%);
        }

        &.bottom {
            bottom: 0;
            background: linear-gradient(0deg, rgba(245, 245, 245, 1) 80%, rgba(245, 245, 245, 0) 100%);
        }
    }
}

// #######################################
//      INFO
// #######################################

.info {
    min-width: 15rem;
    height: 100%;
    background-color: rgba(196, 255, 211, 0.432);
    z-index: 10;
}

// #######################################
//      TREE
// #######################################

.tree {
    position: relative;
    height: fit-content;
    z-index: 10;
    pointer-events: none;
    overflow: visible;

    .node {
        position: relative;
        width: $commitRowHeight;
        height: $commitRowHeight;
        padding: $commitRowHeight * 0.2;

        .circle {
            width: 100%;
            height: 100%;
            background-color: rgb(50, 156, 255);
            border-radius: 100vw;
        }
    }

    .edge {
        position: absolute;
        background-color: transparent;

        &.left {
            border-left: solid 4px rgba(0, 0, 0, 0.3);
        }

        &.topRight {
            border-top-right-radius: 1rem;
            border-top: solid 4px rgba(0, 0, 0, 0.3);
            border-right: solid 4px rgba(0, 0, 0, 0.3);
        }

        &.topLeft {
            border-top-left-radius: 1rem;
            border-top: solid 4px rgba(0, 0, 0, 0.3);
            border-left: solid 4px rgba(0, 0, 0, 0.3);
        }

        &.bottomRight {
            border-bottom-right-radius: 1rem;
            border-bottom: solid 4px rgba(0, 0, 0, 0.3);
            border-right: solid 4px rgba(0, 0, 0, 0.3);
        }

        &.bottomLeft {
            border-bottom-left-radius: 1rem;
            border-bottom: solid 4px rgba(0, 0, 0, 0.3);
            border-left: solid 4px rgba(0, 0, 0, 0.3);
        }
    }
}

// #######################################
//      MESSAGES
// #######################################

.messages {
    flex-grow: 1;
    z-index: 10;
    height: fit-content;
    pointer-events: none;

    .commit {
        position: relative;
        height: $commitRowHeight;
        max-height: $commitRowHeight;
        min-height: $commitRowHeight;
        padding: ($commitRowHeight * 0.1) ($commitRowHeight * 0.4);
        width: 100%;
        display: flex;

        .current {
            position: absolute;
            width: calc(100% - #{$commitRowHeight * 0.8});
            height: calc(100% - #{$commitRowHeight * 0.2});
            border-radius: 0.3rem;
            z-index: -1;
            opacity: 0.2;
        }

        .branch {
            position: relative;
            font-size: 0.65rem;
            font-weight: 700;
            display: flex;
            align-items: center;
            padding: 0 0.5rem;
            margin: 0.2rem 0;
            margin-left: 0.2rem;
            border-radius: 0.3rem;
            color: white;
            align-items: center;
            justify-content: center;

            .icon {
                height: 1.2rem;
                min-height: 1.2rem;
                max-height: 1.2rem;
                width: 1.2rem;
                min-width: 1.2rem;
                max-width: 1.2rem;
                padding: 0.25rem 0.25rem 0.25rem 0;
            }
        }

        .message {
            font-size: 0.7rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            margin-left: 0.3rem;
        }
    }
}
